<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            <!--Allows the same partial to be formatted on each page-->
            {{>header}}
            <p>{{helpText}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>